<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Phoenix!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
  </head>

  <body>
    <%= @inner %>
    <script src="<%= static_path(@conn, "/jspm_packages/system.js") %>"></script>
    <script src="<%= static_path(@conn, "/config.js") %>"></script>
    <script>
      System.import('js/app');
    </script>
  </body>
</html>
